- name: "Configure which sound drivers load at boot"
  ansible.builtin.include_tasks: load_drivers.yml

- name: "Configure PCM settings used by all drivers"
  ansible.builtin.include_tasks: pcm.yml

- name: "Configure the snd_hda HD-Audio sound driver"
  ansible.builtin.include_tasks: hd_audio_driver.yml

- name: "Configure the snd_uaudio USB-Audio sound driver"
  ansible.builtin.include_tasks: usb_driver.yml

- name: "Create OSS utility script"
  ansible.builtin.include_tasks: utility_script.yml

