# References:
#   https://docs.freebsd.org/en/books/handbook/multimedia/#sound-setup
#   https://wiki.freebsd.org/Sound
#   https://www.freebsd.org/cgi/man.cgi?sound
#   https://vermaden.wordpress.com/2021/05/26/freebsd-desktop-part-26-configuration-conferencing-and-meetings/
#   https://www.davidschlachter.com/misc/freebsd-videoconferencing

- name: "Create devd set-USB-dev-to-default-on-attach rules in '{{ oss_devd_usb_rules_path }}'"
  ansible.builtin.template:
    dest: "{{ oss_devd_usb_rules_path }}"
    src: "pcm_conf.j2"
    owner: root
    mode: '644'
    force: true
  become: true
  become_user: root
  when: oss_set_usb_device_as_default_pcm_on_attach | length > 0
  notify:
    - oss_restart_devd

- name: "Remove any devd USB on-attach rules file at '{{ oss_devd_usb_rules_path }}'"
  ansible.builtin.file:
    path: "{{ oss_devd_usb_rules_path }}"
    state: absent
  become: true
  become_user: root
  when: oss_set_usb_device_as_default_pcm_on_attach | length == 0
  notify:
    - oss_restart_devd

